@font-face {
    font-family: 'Avenir';
    src: url('@/assets/fonts/avenir/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('@/assets/fonts/avenir/Avenir-Book.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('@/assets/fonts/avenir/Avenir-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('@/assets/fonts/avenir/Avenir-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('@/assets/fonts/avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
