// fonts
$primary-font: "Avenir";

// colors
$white: #ffffff;
$cultured: #F4F6F9;
$gainsboro: #dddddd;
$quick-silver: #9EA0A4;
$dark-charcoal: #333333;
$platinum: #e8e8e8;

$primary-color: #545c64;
$secondary-color: #E4A343;
$bg-color: #BF3131;
$greyscale-color: #E8E8E8;

$card-shadow-color: $platinum;
$dialog-footer-bg: $cultured;
$border-color: $gainsboro;
$title-color: $dark-charcoal;
$paragraph-color: $quick-silver;

// widths 
$max-width: 1200px;
$menu-bar-width: 250px;
$post-card-width: 800px;
$login-dialog-width: 552px;

// sizes
$dialog-title-font-size: 28px;

$list-title-font-size: 20px;
$large-font-size: 16px;
$normal-font-size: 14px;
$small-font-size: 12px;
$xsmall-font-size: 10px;

$xlarge-padding-size: 40px;
$large-padding-size: 30px;
$normal-padding-size: 20px;
$small-padding-size: 10px;

$xlarge-margin-size: 40px;
$large-margin-size: 30px;
$normal-margin-size: 20px;
$small-margin-size: 10px;

$normal-border-radius: 4px;

$primary-danger: #CD202A;

// weight
$black: 900;
$heavy: 800;
$regular: 500;
$book: 350;
$light: 300;

$primary-danger : #CD202A;

$neutral-light-1: #FFFFFF;
$neutral-light-2: #F5F5F5;
$neutral-light-3: #E5E5E5;

$neutral-dark-1: #161B22;
$neutral-dark-2: #3D4248;
$neutral-dark-3: #68717A;
$neutral-dark-4: #9AA0A8;
$neutral-dark-6: #606266;

$neutral-dim-dark: #0D1117;
